/* ab2a19 dark red
d34735 red
ed6b5a light red
3ad886 green 
font-family: 'Open Sans', sans-serif;
*/

.dashboardList {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
